/* 
#divActivities {
    max-width: 400px;

}

#divAdventurous{
    max-width: 400px;
   display: none;

}

#divArtsAndCrafts{
    max-width: 400px;
    display: none;
}

#divMuseums{
    max-width: 400px;
    display: none;
}

#divWineTasting{
    max-width: 400px;
    display: none;
}

#divOther{
    max-width: 400px;
    display: none;
} */